$d0Color :#424242;
$d1Color:rgb(150, 107, 230);
$d2Color:rgb(85, 184, 218);
$hour_grey : rgb(170,170,170);
$unit_value_color:rgb(28, 109, 222);

.hourly{
  table{
    width: 100%;
    font-size: 13px;
  }
  th , tbody td {
    width: 55px;
    padding:0;
    box-sizing: border-box;
  }
  .data.top{
    position:relative;
    &::before{
      position: absolute;
      top:10px;
      left:-1px;
      content:'';
      width: 1px;
      height: 350px;
      background-color: rgba(0,0,0,.04);
    }
    &.tomorrow::before{
      background-color: $d1Color;
      opacity: 0.2
    }
    &.dayAfter::before{
      background-color: $d2Color;
      opacity: 0.3
    }
  }
  .thead_cnTimeTable{
    text-align: center;
    display: flex;
    span{
      padding: 1px 5px;
      width: fit-content;
    } 
    .tomorrow{
      color:$d1Color
    }
    .dayAfter{
      color:$d2Color
    }
    .label {
      display: flex;
      align-items: center;
      border-radius:20px;
      color:#ffff;
      &.today{
        background-color:$d0Color;
      }
      &.tomorrow{
        font-size: 12px;
        background-color: $d1Color;
      }
      &.dayAfter{
        font-size: 12px;
        background-color: $d2Color;
      }
    }
    .cnItemTime{
      display: flex;
      flex-direction: column;
      align-items: center;
      }
    .skyIcon{
      width: 50%;
      aspect-ratio: 1;
    }
  }
  //tbody
  tbody{
    display: flex;
    flex-direction: column;
    tr{
      display: flex;
      margin-top: 10px;
    }
    em{
      font-style: initial;
    }
    .tit, .unit{
      font-size: 12px;
      width: inherit;
      text-align: left;
    }
    .unit{
      color:$hour_grey
    }
    td{
      .unit_value{
        width: 100%;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color:$hour_grey;
      }
      .color{
        color:$unit_value_color
      }
    }
    //wind
    .icon_wind{
      display: block;
      width: inherit;
      text-align: center;
      svg{
        font-size: 1.3rem;
        color:$unit_value_color;
      }
    }
  }
}