$d0Color :#424242;
$d1Color:rgb(150, 107, 230);
$d2Color:rgb(85, 184, 218);
$hour_grey : rgb(170,170,170);
$unit_value_color:#218be8;

.hourly{
  margin-top: 22px; //now_tabList
  user-select: none;
  box-sizing: border-box;
  .weather_graph{
    width: inherit;
    height: fit-content;
    border-bottom: 1px solid rgba(0,0,0,.04);
    margin-left: 16px;
  }
  .scrollArea{
    height: 361px;
    overflow: hidden;
    position: relative;
    &::after {
      position: absolute;
      top:0;
      right:0;
      bottom: 0;
      z-index: 10;
      width:20%;
      content:'';
      background-image: linear-gradient(to left,#fff,rgba(255,255,255,0));
      background-image: -webkit-linear-gradient(right,#fff,rgba(255,255,255,0));
      background-image: -webkit-gradient(linear,right top,left top,from(#fff),to(rgba(255,255,255,0)));
    }
  }
  table{
    font-size: 13px;
  }
  th , tbody td {
    width: 40px;
    padding:0;
    box-sizing: border-box;
  }
  tr{
    width: 100%;
  }


  .data.top{
    position:relative;
    &::before{
      position: absolute;
      top:10px;
      left:-1px;
      content:'';
      width: 1px;
      height: 350px;
      background-color: rgba(0,0,0,.04);
    }
    &.tomorrow::before{
      background-color: $d1Color;
      opacity: 0.2
    }
    &.dayAfter::before{
      background-color: $d2Color;
      opacity: 0.3
    }
  }
  .thead_cnTimeTable{
    text-align: center;
    display: flex;
    span{
      padding: 1px 5px;
      width: fit-content;
    } 
    .tomorrow{
      color:$d1Color
    }
    .dayAfter{
      color:$d2Color
    }
    .label {
      display: flex;
      align-items: center;
      border-radius:20px;
      color:#ffff;
      &.today{
        background-color:$d0Color;
      }
      &.tomorrow{
        font-size: 12px;
        background-color: $d1Color;
      }
      &.dayAfter{
        font-size: 12px;
        background-color: $d2Color;
      }
    }
    .cnItemTime{
      display: flex;
      flex-direction: column;
      align-items: center;
      }
    .skyIcon{
      width: 50%;
      aspect-ratio: 1;
      margin-top: 4px;
    }
  }
  //tbody
  tbody{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    tr{
      display: flex;
      margin-top: 10px;
    }
    em{
      font-style: initial;
    }
    .tit, .unit{
      font-size: 10px;
      width: inherit;
      text-align: left;
    }
    .unit{
      color:$hour_grey
    }
    td{
      .unit_value{
        width: 100%;
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color:$hour_grey;
      }
      .color{
        color:$unit_value_color
      }
    }
    //chart
    #tempChart{
      overflow-x: hidden;
    }
    #tempChart, .chart_area{
      width: inherit;
      height: 100px;
    }
    .chart_area{
      display: flex;
      position: relative;
      background:linear-gradient(to top,rgba(220, 242, 255, 0.895) 10%, #ffff);
    }
    .chart_wrap{
      position: relative;
    }
    .chart_line{
      width: calc(100% * 0.3)
    };
    .chart_text {
      width: inherit;
      height: 100%;
      position: absolute;
      top:0;
      left:40px;
      display: flex;
    }
    .today .chart_text{
      left: 55px
    }
    .chart_text .temp{
      position: relative;
      display: flex;
      width: 55px;
      height: inherit;
      font-weight: bold;
      }
    }
    //wind
    .icon_wind{
      display: block;
      width: inherit;
      text-align: center;
      svg{
        font-size: 1.3rem;
        color:$unit_value_color;
      }
    }
  }