.now{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.now_now , .now_quickArea{
  display: flex;
  align-items: center;
  justify-content: center;
}
.now_now{
  justify-content: center;
  height: 75px ;
  width: fit-content;
  .summaryImg{
    position: relative;
    .skyIcon{
      width: 75px;
      height: 75px;
    }
  }
  .summary {
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    .temp{
      height: 70%;
      font-size: 2.5rem;

    }
    .sky{
      height: 30%;
      text-align: center;
      font-size: 1rem;
    }
  }
}
.now_quickArea{
  width: 100%;
  margin-top: 14px;
}
.now{
  .scrollControl{
    width: calc(100% - (36px)*2  - 20px);
    position: relative;
  }
  .scrollArea {
    width: 100%;
    position: relative;
    height: 65px;
    overflow-x: hidden;
  }
  .summary_wrap {
    width: 100%;
    position: absolute;
    left: 0;
    height: inherit;
  }
}

.summary.current , .summary.tomorrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: inherit;
}
.summary.current{
  left: 0;
  li {
    float: left;
  }
  dl{
    display: flex;
  }
  dt {
    color:rgba(110, 110, 110, 0.991);
  }
  dd{
    margin : 0 10px;
    font-weight: bolder;
  }
}

.summary.tomorrow{
  left: 100%;
  td , dl{
    display: flex;
  }
  tr{
    display: flex;
    align-items: center;
  }
  th , td{
    height: 1.8rem
  }
  .skyIcon , .weatherIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
  td dl {
    margin-left: 8px;
  }
  dd{
    width: 3rem;
    font-weight: bolder;
    text-align: center;
  }
}

.summary_table  {
  width: 100%;
  padding:0;
  display: flex;
  font-size: 1rem;
  .unit{
    font-size: 12px;
  }
}

.summary_table .iconWrap svg{
  width: 1.5rem;
  height: 1.5rem;
  font-size: 100%;
}
.tabList{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:calc(100% + 14px);
  left:0;
}
.tabBtn{
  width: 8px;
  height: 8px;
  padding:0;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(218, 218, 218);
  border: none;
  &.on{
    background-color: rgb(88, 88, 88);
  }
}

@media screen and (min-width:1025px) {
  .now{
    flex-direction: row;
  }
  .now_quickArea{
    width: calc(100% - 200px);
  }
  .now .scrollControl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}