.scrollBtn {
  display: none;
  svg {
    font-size: inherit;
    width:fit-content;
    height:fit-content;
    fill:inherit;
    polygon{
      fill:inherit
    }
  }
  &.pre {
    left: -36px;
  }
  &.next {
    left:calc(100% + 10px) ;
  }
}

@media screen and (min-width:1025px) {
  .scrollBtn.on{
    display: flex;
    display:flex;
    align-items:center;
    position: absolute;
    top:calc((100% - 36px) / 2);
  }
}
