$blue :#3172e7;
$grey:#8f8f8f;
.week{
  width: 100%;
  .box{
    display: none;
  }
  .scrollArea{
    position: relative;
    touch-action: pan-y pinch-zoom;
    overflow: visible;
    height: auto;
    border: solid 1px #cfd4d6;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 8%);
  }
  .item{
    border-bottom: solid 1px #cfd4d6 ;
    padding:5px 24px;
  }
  .day_data{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .cell_date{
    .day{
      font-size: 14px;
    }
    .date{
      font-size: 12px;
    }
  }

  .cell_weather , .cell_weather .weather_inner{
    display: flex;
  }
  .weather_inner{
    margin-right: 8px;
    .pm {
    flex-direction: row-reverse;
    } 
  }
  .cell_weather{
    .inner_text {
      height: 34px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      margin-right: 8px;
      color: $grey;
    }
    .timeslot{
      font-weight: 400;
    }
    .rainfall{
      color:$blue
    }
    .rainfall.none{
      color: inherit
    }
    .skyIcon , svg{
      width: 34px;
      height: 34px;
    }
  }
  .lowest , .highest , .bar {
    font-weight: 600;
  }
  .lowest{
    color:$blue
  }
  .highest{
    color:#cd3534
  }
  .bar{
    color:$grey
  }
}

@media screen and (min-width:768px) {
  .week{
    .box{
      display: flex;
    }
    .scrollArea{
      overflow: hidden;
      height: initial;
    }
  }
}