$blue :#3172e7;
$grey:#8f8f8f;
@mixin box {
  border: solid 1px #cfd4d6 ;
  border-radius: 8px; 
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 8%)
}
.week{
  width: 100%;
  .box{
    display: none;
  }
  .scrollArea{
    position: relative;
    touch-action: pan-y pinch-zoom;
    overflow: visible;
    height: auto;
    @include box
  }
  .item{
    border-bottom: solid 1px #cfd4d6 ;
    padding:5px 24px;
  }
  .day_data{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .cell_date{
    .day{
      font-size: 14px;
    }
    .date{
      font-size: 12px;
    }
  }

  .cell_weather , .cell_weather .weather_inner{
    display: flex;
  }
  .weather_inner{
    margin-right: 8px;
    .pm {
    flex-direction: row-reverse;
    } 
  }
  .cell_weather{
    .inner_text {
      height: 34px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      margin-right: 8px;
      color: $grey;
    }
    .timeslot{
      font-weight: 400;
    }
    .rainfall{
      color:$blue
    }
    .rainfall.none{
      color: inherit
    }
    .skyIcon , svg{
      width: 34px;
      height: 34px;
    }
  }
  .lowest , .highest , .bar {
    font-weight: 600;
  }
  .lowest{
    color:$blue
  }
  .highest{
    color:#cd3534
  }
  .bar{
    color:$grey
  }
}

@media screen and (min-width:768px) {
  .week{
    .box{
      display: flex;
      justify-content: space-between;
      padding:0;
      margin-bottom: 14px;
      .item{
        width: 48%;
        box-sizing: border-box;
        @include box;
        padding: 10px 30px
      }
    }

    .scrollArea{
      overflow: hidden;
      height:auto;
      width:100%;
      border: initial;
      border-radius: initial;
      box-shadow: initial;
      display: flex;
      .item{
        width:calc(100% / 7);
        height: auto;
      }
      .day0 , .day1 {
        display: none;
      }
      .day_data{
        width: fit-content;
        flex-direction: column;
        margin-right: 0;
        width: 100%;
      }
      .cell_date  , 
      .cell_weather ,
      .cell_temperature
      {
        width: 100%;
        text-align: center;
        justify-content: space-around;
        margin-bottom: 10px;

      }
      .cell_weather{
        .weather_inner{
          flex-direction: column-reverse;
          margin-right: 0;
        }
        .timeslot {
          display: none;
        }
        .inner_text{
          margin: 0;;
        }
      }
      .cell_temperature{
        strong{
          display: flex;
          justify-content: space-between;
        }
        span{
          width: 34px;
        }
        .bar{
          display: none;
        }
      }
    }
    
  }
}