@import './hourly';
@import './location';
@import './now';
@import './scrollBtn';
@import './skyIcon';
@import './week';

$font_basic_color: #424242;

body{
  margin: 0;
  color:$font_basic_color;
}
#topbar{
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  .inner{
    display: flex;
    align-items: center;
  }
  .logo {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-right: 14px;
  }
  &::after{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.1);
    content:'';
  }
}
#container, #content , .section_wrap{
  width: 100%;
}
#container{
  display: flex;
  justify-content: center;
}
.section_wrap{
  margin-top: 1rem;
}

.blind{
  display: none;
}
ul , dl , dd{
  margin :0;
}
ul{
  padding:0
}
li {
  list-style: none;
}

.week{
  padding: 20px 30px;
  box-sizing: border-box;
}
@media screen and (min-width:780px) {
  .hourly , .week {
    margin: 0;
    padding: 30px 65px;
  }
}
@media screen and (min-width:1025px) {
  #topbar{
    .inner{
      max-width:1160px;
    }
  }
  #content{
    width:1160px;
  }
  .section_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .section_center{
    width: 751px ;
  }
  .hourly , .week{
    padding: 30px 51px 40px 0;
  }
}