@import './location';
@import './now';
@import './skyIcon';
body{
  margin: 0;
}
#topbar{
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  .inner{
    display: flex;
    align-items: center;
  }
  .logo {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-right: 14px;
  }
  &::after{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.1);
    content:'';
  }
}
#container, #content , .section_wrap{
  width: 100%;
}
#content{
  display: flex;
  justify-content: center;
}
.blind{
  display: none;
}
ul , dl , dd{
  margin :0;
}
li {
  list-style: none;
}
.weatherIcon{
  position: relative;
}
.iconWrap{
  position: absolute;
  top:0;
  left: 0;
}
@media screen and (min-width:1025px) {
  #topbar{
    .inner{
      max-width:1160px;
    }
  }
  #content{
    width:1160px;
  }
}