.hourly .weather_graph {
  width: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.hourly .scrollArea {
  height: 361px;
}
.hourly table {
  width: 100%;
  font-size: 13px;
}
.hourly th, .hourly tbody td {
  width: 55px;
  padding: 0;
  box-sizing: border-box;
}
.hourly tr {
  width: 100%;
}
.hourly #chart, .hourly .chart_area {
  width: inherit;
  height: 100px;
}
.hourly #chart {
  overflow-x: hidden;
}
.hourly .chart_area {
  display: flex;
}
.hourly .chart_line {
  width: 30%;
}
.hourly .data.top {
  position: relative;
}
.hourly .data.top::before {
  position: absolute;
  top: 10px;
  left: -1px;
  content: "";
  width: 1px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.04);
}
.hourly .data.top.tomorrow::before {
  background-color: rgb(150, 107, 230);
  opacity: 0.2;
}
.hourly .data.top.dayAfter::before {
  background-color: rgb(85, 184, 218);
  opacity: 0.3;
}
.hourly .thead_cnTimeTable {
  text-align: center;
  display: flex;
}
.hourly .thead_cnTimeTable span {
  padding: 1px 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.hourly .thead_cnTimeTable .tomorrow {
  color: rgb(150, 107, 230);
}
.hourly .thead_cnTimeTable .dayAfter {
  color: rgb(85, 184, 218);
}
.hourly .thead_cnTimeTable .label {
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: white;
}
.hourly .thead_cnTimeTable .label.today {
  background-color: #424242;
}
.hourly .thead_cnTimeTable .label.tomorrow {
  font-size: 12px;
  background-color: rgb(150, 107, 230);
}
.hourly .thead_cnTimeTable .label.dayAfter {
  font-size: 12px;
  background-color: rgb(85, 184, 218);
}
.hourly .thead_cnTimeTable .cnItemTime {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hourly .thead_cnTimeTable .skyIcon {
  width: 50%;
  aspect-ratio: 1;
}
.hourly tbody {
  display: flex;
  flex-direction: column;
}
.hourly tbody tr {
  display: flex;
  margin-top: 10px;
}
.hourly tbody em {
  font-style: initial;
}
.hourly tbody .tit, .hourly tbody .unit {
  font-size: 12px;
  width: inherit;
  text-align: left;
}
.hourly tbody .unit {
  color: rgb(170, 170, 170);
}
.hourly tbody td .unit_value {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: rgb(170, 170, 170);
}
.hourly tbody td .color {
  color: #218be8;
}
.hourly tbody .icon_wind {
  display: block;
  width: inherit;
  text-align: center;
}
.hourly tbody .icon_wind svg {
  font-size: 1.3rem;
  color: #218be8;
}

.location {
  display: flex;
  align-items: center;
}

.location_area {
  font-size: 1.5rem;
  font-weight: bolder;
}

.dropBtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.7rem;
}
.dropBtn svg {
  font-size: 1.3rem;
}

.location_dropdown {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.location_dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 310px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(243, 243, 243);
  box-shadow: 0px 0px 27px 1px #BFBFBF;
}
.dropdown-content .header {
  font-size: 14px;
  text-align: center;
}
.dropdown-content .btns {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  width: 100%;
}

.now {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.now_now, .now_quickArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

.now_now {
  justify-content: center;
  height: 75px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.now_now .summaryImg {
  position: relative;
}
.now_now .summaryImg .skyIcon {
  width: 75px;
  height: 75px;
}
.now_now .summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.now_now .summary .temp {
  height: 70%;
  font-size: 2.5rem;
}
.now_now .summary .sky {
  height: 30%;
  text-align: center;
  font-size: 1rem;
}

.now_quickArea {
  width: 100%;
  margin-top: 14px;
}

.now .scrollControl {
  width: calc(100% - 72px - 20px);
  position: relative;
}
.now .scrollArea {
  width: 100%;
  position: relative;
  height: 65px;
  overflow-x: hidden;
}
.now .summary_wrap {
  width: 100%;
  position: absolute;
  left: 0;
  height: inherit;
}

.summary.current, .summary.tomorrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: inherit;
}

.summary.current {
  left: 0;
}
.summary.current li {
  float: left;
}
.summary.current dl {
  display: flex;
}
.summary.current dt {
  color: rgba(110, 110, 110, 0.991);
}
.summary.current dd {
  margin: 0 10px;
  font-weight: bolder;
}

.summary.tomorrow {
  left: 100%;
}
.summary.tomorrow td, .summary.tomorrow dl {
  display: flex;
}
.summary.tomorrow tr {
  display: flex;
  align-items: center;
}
.summary.tomorrow th, .summary.tomorrow td {
  height: 1.8rem;
}
.summary.tomorrow .skyIcon, .summary.tomorrow .weatherIcon {
  width: 1.5rem;
  height: 1.5rem;
}
.summary.tomorrow td dl {
  margin-left: 8px;
}
.summary.tomorrow dd {
  width: 3rem;
  font-weight: bolder;
  text-align: center;
}

.summary_table {
  width: 100%;
  padding: 0;
  display: flex;
  font-size: 1rem;
}
.summary_table .unit {
  font-size: 12px;
}

.summary_table .iconWrap svg {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 100%;
}

.tabList {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(100% + 14px);
  left: 0;
}

.tabBtn {
  width: 8px;
  height: 8px;
  padding: 0;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(218, 218, 218);
  border: none;
}
.tabBtn.on {
  background-color: rgb(88, 88, 88);
}

@media screen and (min-width: 1025px) {
  .now {
    flex-direction: row;
  }
  .now_quickArea {
    width: calc(100% - 200px);
  }
  .now .scrollControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.scrollBtn {
  display: none;
}
.scrollBtn svg {
  font-size: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  fill: inherit;
}
.scrollBtn svg polygon {
  fill: inherit;
}
.scrollBtn.pre {
  left: -36px;
}
.scrollBtn.next {
  left: 100%;
}

@media screen and (min-width: 1025px) {
  .scrollBtn.on {
    display: flex;
    display: flex;
    align-items: center;
    position: absolute;
    top: calc((100% - 36px) / 2);
  }
}
.weatherIcon,
.overlapping,
.iconWrap,
.iconWrap svg {
  width: 100%;
  height: 100%;
}

.weatherIcon {
  position: relative;
}
.weatherIcon svg {
  fill: inherit;
}

.overlapping {
  display: flex;
  position: relative;
}
.overlapping .behind {
  width: 80%;
  height: 80%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.overlapping .behind .iconWrap svg {
  width: 100%;
  height: 100%;
}
.overlapping .front {
  width: 60%;
  height: 60%;
  z-index: 3;
  position: absolute;
  top: 30%;
  left: 40%;
}
.overlapping .front .iconWrap svg {
  width: 100%;
  height: 100%;
}

.iconWrap {
  position: absolute;
  top: 0;
  left: 0;
}

.sunnyNightIcon {
  width: 80%;
  transform: rotateY(180deg);
}

.week {
  width: 100%;
}
.week .box {
  display: none;
}
.week .scrollArea {
  position: relative;
  touch-action: pan-y pinch-zoom;
  overflow: visible;
  height: auto;
  border: solid 1px #cfd4d6;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);
}
.week .item {
  border-bottom: solid 1px #cfd4d6;
  padding: 5px 24px;
}
.week .day_data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.week .cell_date .day {
  font-size: 14px;
}
.week .cell_date .date {
  font-size: 12px;
}
.week .cell_weather, .week .cell_weather .weather_inner {
  display: flex;
}
.week .weather_inner {
  margin-right: 8px;
}
.week .weather_inner .pm {
  flex-direction: row-reverse;
}
.week .cell_weather .inner_text {
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-right: 8px;
  color: #8f8f8f;
}
.week .cell_weather .timeslot {
  font-weight: 400;
}
.week .cell_weather .rainfall {
  color: #3172e7;
}
.week .cell_weather .rainfall.none {
  color: inherit;
}
.week .cell_weather .skyIcon, .week .cell_weather svg {
  width: 34px;
  height: 34px;
}
.week .lowest, .week .highest, .week .bar {
  font-weight: 600;
}
.week .lowest {
  color: #3172e7;
}
.week .highest {
  color: #cd3534;
}
.week .bar {
  color: #8f8f8f;
}

@media screen and (min-width: 768px) {
  .week .box {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 14px;
  }
  .week .box .item {
    width: 48%;
    box-sizing: border-box;
    border: solid 1px #cfd4d6;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);
    padding: 10px 30px;
  }
  .week .scrollArea {
    overflow: hidden;
    height: auto;
    width: 100%;
    border: initial;
    border-radius: initial;
    box-shadow: initial;
    display: flex;
  }
  .week .scrollArea .item {
    width: 14.2857142857%;
    height: auto;
  }
  .week .scrollArea .day0, .week .scrollArea .day1 {
    display: none;
  }
  .week .scrollArea .day_data {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }
  .week .scrollArea .cell_date,
.week .scrollArea .cell_weather,
.week .scrollArea .cell_temperature {
    width: 100%;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .week .scrollArea .cell_weather .weather_inner {
    flex-direction: column-reverse;
    margin-right: 0;
  }
  .week .scrollArea .cell_weather .timeslot {
    display: none;
  }
  .week .scrollArea .cell_weather .inner_text {
    margin: 0;
  }
  .week .scrollArea .cell_temperature strong {
    display: flex;
    justify-content: space-between;
  }
  .week .scrollArea .cell_temperature span {
    width: 34px;
  }
  .week .scrollArea .cell_temperature .bar {
    display: none;
  }
}
body {
  margin: 0;
  color: #424242;
}

#topbar {
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
#topbar .inner {
  display: flex;
  align-items: center;
}
#topbar .logo {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-right: 14px;
}
#topbar::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
}

#container, #content, .section_wrap {
  width: 100%;
}

#container {
  display: flex;
  justify-content: center;
}

.section_wrap {
  margin-top: 1rem;
}

.blind {
  display: none;
}

ul, dl, dd {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.hourly, .week {
  padding: 20px 30px;
  box-sizing: border-box;
}

@media screen and (min-width: 780px) {
  .hourly, .week {
    margin: 0;
    padding: 30px 65px;
  }
}
@media screen and (min-width: 1025px) {
  #topbar .inner {
    max-width: 1160px;
  }
  #content {
    width: 1160px;
  }
  .section_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .section_center {
    width: 751px;
  }
  .hourly, .week {
    padding: 30px 51px 40px 0;
  }
}/*# sourceMappingURL=main.css.map */