@charset "UTF-8";
.hourly {
  margin-top: 36px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  position: relative;
}
.hourly .weather_graph {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  margin-left: 16px;
}
.hourly .scrollArea {
  height: 361px;
  overflow: hidden;
  position: relative;
}
.hourly .scrollArea.afterOn::after, .hourly .scrollArea.beforeOn::before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 10%;
  content: "";
}
.hourly .scrollArea::after {
  right: 0;
  background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, right top, left top, from(#fff), to(rgba(255, 255, 255, 0)));
}
.hourly .scrollArea::before {
  left: 0;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255, 255, 255, 0)));
}
.hourly table {
  font-size: 13px;
}
.hourly th, .hourly tbody td {
  width: 40px;
  padding: 0;
  box-sizing: border-box;
}
.hourly tr {
  width: 100%;
}
.hourly .data.top {
  position: relative;
}
.hourly .data.top::before {
  position: absolute;
  top: 10px;
  left: -1px;
  content: "";
  width: 1px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.04);
}
.hourly .data.top.tomorrow::before {
  background-color: rgb(150, 107, 230);
  opacity: 0.2;
}
.hourly .data.top.dayAfter::before {
  background-color: rgb(85, 184, 218);
  opacity: 0.3;
}
.hourly .thead_cnTimeTable {
  text-align: center;
  display: flex;
}
.hourly .thead_cnTimeTable span {
  padding: 1px 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.hourly .thead_cnTimeTable .tomorrow {
  color: rgb(150, 107, 230);
}
.hourly .thead_cnTimeTable .dayAfter {
  color: rgb(85, 184, 218);
}
.hourly .thead_cnTimeTable .label {
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: white;
}
.hourly .thead_cnTimeTable .label.today {
  background-color: #424242;
}
.hourly .thead_cnTimeTable .label.tomorrow {
  font-size: 12px;
  background-color: rgb(150, 107, 230);
}
.hourly .thead_cnTimeTable .label.dayAfter {
  font-size: 12px;
  background-color: rgb(85, 184, 218);
}
.hourly .thead_cnTimeTable .cnItemTime {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hourly .thead_cnTimeTable .skyIcon {
  width: 50%;
  aspect-ratio: 1;
  margin-top: 4px;
}
.hourly tbody {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.hourly tbody tr {
  display: flex;
  margin-top: 10px;
}
.hourly tbody em {
  font-style: initial;
}
.hourly tbody .tit, .hourly tbody .unit {
  font-size: 10px;
  width: 100%;
  text-align: left;
}
.hourly tbody .unit {
  color: rgb(170, 170, 170);
}
.hourly tbody td .unit_value {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: rgb(170, 170, 170);
}
.hourly tbody td .color {
  color: #218be8;
}
.hourly tbody #tempChart {
  overflow-x: hidden;
}
.hourly tbody #tempChart, .hourly tbody .chart_area {
  width: 100%;
  height: 100px;
}
.hourly tbody .chart_area {
  display: flex;
  position: relative;
  background: linear-gradient(to top, rgba(220, 242, 255, 0.895) 10%, white);
}
.hourly tbody .chart_wrap {
  position: relative;
}
.hourly tbody .chart_line {
  width: 30%;
}
.hourly tbody .chart_text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  display: flex;
}
.hourly tbody .today .chart_text {
  left: 55px;
}
.hourly tbody .chart_text .temp {
  position: relative;
  display: flex;
  width: 55px;
  height: 100%;
  font-weight: bold;
}
.hourly .icon_wind {
  display: block;
  width: 100%;
  text-align: center;
}
.hourly .icon_wind svg {
  font-size: 1.3rem;
  color: #218be8;
}

@media screen and (min-width: 1025px) {
  .hourly .weather_graph {
    margin-left: 0;
    width: calc(100% - 50px);
  }
}
.location {
  display: flex;
  align-items: center;
}

.location_area {
  font-size: 1.5rem;
  font-weight: bolder;
}

.dropBtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.7rem;
}
.dropBtn svg {
  font-size: 1.3rem;
}

.location_dropdown {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.location_dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 310px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(243, 243, 243);
  box-shadow: 0px 0px 27px 1px #BFBFBF;
}
.dropdown-content .header {
  font-size: 14px;
  text-align: center;
}
.dropdown-content .btns {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  width: 100%;
}

.nation {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
}
.nation .title {
  padding-left: 30px;
}
.nation .weekly_list, .nation .map_wrap {
  width: 100%;
  margin: 0;
}
.nation .weekly_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #e6ebee;
}
.nation .weekly_list .item {
  width: 14.2857142857%;
  height: 100%;
}
.nation .weekly_list .item .dayBtn {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: none;
  color: rgb(139, 139, 139);
}
.nation .weekly_list .item.on .dayBtn {
  color: #38a2f8;
  font-weight: bold;
}
.nation .weekly_list .item.on .date {
  border-bottom: 1px solid #38a2f8;
}
.nation .weekly_list .item .day {
  font-size: 14px;
}
.nation .weekly_list .item .date {
  font-size: 12px;
  padding: 5px;
  padding-top: 0;
}
.nation .map_wrap {
  display: flex;
  justify-content: center;
  background-color: #c8e0f8;
  position: relative;
}
.nation .time_area {
  position: absolute;
  top: 2rem;
  left: 1rem;
}
.nation .time_area .timeBtn {
  background-color: white;
  border: none;
  padding: 5px 8px;
  color: #999999;
  font-weight: bold;
  font-size: 12px;
}
.nation .time_area .timeBtn:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.nation .time_area .timeBtn:nth-child(2), .nation .time_area .timeBtn:last-child {
  border-left: 1px solid #dadada;
}
.nation .time_area .timeBtn:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.nation .time_area .timeBtn.on {
  background-color: #469aee;
  color: white;
}
.nation .map {
  position: relative;
  width: 358px;
}
.nation .map_img {
  width: 100%;
  height: auto;
  z-index: 0;
}
.nation .zone {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nation .zone .text {
  font-size: 12px;
}
.nation .zone .temp {
  margin-left: 2px;
  font-weight: bold;
}
.nation .skyIcon {
  width: 1.5rem;
  height: 1.5rem;
}
.nation #zone_서울 {
  top: 22%;
  left: 32%;
}
.nation #zone_춘천 {
  top: 15%;
  left: 45%;
}
.nation #zone_강릉 {
  top: 22%;
  left: 60%;
}
.nation #zone_청주 {
  top: 29%;
  left: 48%;
}
.nation #zone_백령 {
  top: 22%;
  left: 8%;
}
.nation #zone_수원 {
  top: 34%;
  left: 30%;
}
.nation #zone_안동 {
  top: 39%;
  left: 62%;
}
.nation #zone_울릉독도 {
  top: 26%;
  left: 72%;
}
.nation #zone_울릉독도 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nation #zone_울릉독도 .text span {
  display: block;
}
.nation #zone_대전 {
  top: 43%;
  left: 40%;
}
.nation #zone_전주 {
  top: 50%;
  left: 28%;
}
.nation #zone_대구 {
  top: 52%;
  left: 55%;
}
.nation #zone_광주 {
  top: 62%;
  left: 29%;
}
.nation #zone_울산 {
  top: 55%;
  left: 70%;
}
.nation #zone_목포 {
  top: 72%;
  left: 21%;
}
.nation #zone_여수 {
  top: 68%;
  left: 43%;
}
.nation #zone_부산 {
  top: 65%;
  left: 65%;
}
.nation #zone_제주 {
  bottom: 4%;
  left: 20%;
}

@media screen and (min-width: 480px) {
  .nation .time_area {
    left: -80px;
  }
}
@media screen and (min-width: 1025px) {
  .nation .title {
    padding-left: 20px;
  }
  .nation .time_area {
    top: 18px;
    left: 14px;
  }
  .nation .map_wrap {
    border-radius: 10px;
  }
  .nation .map {
    width: 90%;
  }
}
.now {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
}

.now_now, .now_quickArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

.now_now {
  justify-content: center;
  height: 75px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.now_now .summaryImg {
  position: relative;
}
.now_now .summaryImg .skyIcon {
  width: 75px;
  height: 75px;
}
.now_now .summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.now_now .summary .temp {
  height: 70%;
  font-size: 2.5rem;
}
.now_now .summary .sky {
  height: 30%;
  text-align: center;
  font-size: 1rem;
}

.now_quickArea {
  width: 100%;
  margin-top: 14px;
  position: relative;
}

.now .scrollControl {
  width: 100%;
  position: relative;
}
.now .scrollArea {
  width: 100%;
  position: relative;
  height: 65px;
  overflow: hidden;
}
.now .summary_wrap {
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
}
.now .summary.current, .now .summary.tomorrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 100%;
}
.now .summary.current {
  left: 0;
}
.now .summary.current li {
  float: left;
}
.now .summary.current dl {
  display: flex;
}
.now .summary.current dt {
  color: rgba(110, 110, 110, 0.991);
}
.now .summary.current dd {
  margin: 0 10px;
  font-weight: bolder;
}
.now .summary.tomorrow {
  left: 100%;
}
.now .summary.tomorrow .summary_inner {
  width: 90%;
}
.now .summary.tomorrow tbody {
  box-sizing: border-box;
}
.now .summary.tomorrow td, .now .summary.tomorrow dl {
  display: flex;
}
.now .summary.tomorrow tr {
  display: flex;
  align-items: center;
}
.now .summary.tomorrow tr, .now .summary.tomorrow th, .now .summary.tomorrow td, .now .summary.tomorrow .term, .now .summary.tomorrow .skyIcon .weatherIcon {
  height: 30.8px;
}
.now .summary.tomorrow .skyIcon, .now .summary.tomorrow .weatherIcon, .now .summary.tomorrow .dl_number {
  width: 21px;
}
.now .summary.tomorrow th, .now .summary.tomorrow td {
  padding: 0;
}
.now .summary.tomorrow td dl {
  margin-left: 8px;
  text-align: center;
}
.now .summary.tomorrow dd {
  font-weight: bolder;
  text-align: center;
}
.now .summary.tomorrow th span {
  display: inline-block;
}
.now .summary.tomorrow .term {
  width: 40px;
}
.now .summary.tomorrow .term span {
  height: 48%;
  text-align: center;
}
.now .summary.tomorrow .dl_number {
  display: inline-flex;
  align-items: center;
}
.now .summary.tomorrow .dl_grade {
  display: inline-flex;
  align-items: center;
}
.now .summary.tomorrow .dl_grade dt, .now .summary.tomorrow .dl_grade dd {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.now .summary.tomorrow .dl_grade dd {
  margin-left: 8px;
}
.now .summary_table {
  width: 100%;
  padding: 0;
  display: flex;
  font-size: 14px;
}
.now .summary_table tbody, .now .summary_table tr {
  width: 100%;
}
.now .summary_table .unit {
  font-size: 12px;
}
.now .summary_table .iconWrap svg {
  font-size: 100%;
}
.now .tabList {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(100% + 14px);
  left: 0;
}
.now .tabBtn {
  width: 8px;
  height: 8px;
  padding: 0;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(218, 218, 218);
  border: none;
}
.now .tabBtn.on {
  background-color: rgb(88, 88, 88);
}

@media screen and (min-width: 400px) {
  .now .summary.tomorrow .summary_inner {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .now .summary.tomorrow .term {
    width: auto;
    display: inline-flex;
    align-items: center;
  }
  .now .summary.tomorrow .term span {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (min-width: 500px) {
  .now .scrollControl {
    width: calc(100% - 72px - 20px);
  }
  .now .summary.tomorrow dd {
    width: 3rem;
  }
  .now .summary.tomorrow .skyIcon, .now .summary.tomorrow .weatherIcon, .now .summary.tomorrow .dl_number {
    width: 32.5px;
  }
}
@media screen and (min-width: 768px) {
  .now .summary_table {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  .now {
    margin-top: 10px;
    width: calc(100% - 50px);
    flex-direction: row;
    justify-content: space-between;
  }
  .now_now {
    margin-left: 32px;
  }
  .now_quickArea {
    width: 450px;
  }
  .now .scrollControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.scrollBtn {
  display: none;
}
.scrollBtn svg {
  font-size: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  fill: inherit;
}
.scrollBtn svg polygon {
  fill: inherit;
}
.scrollBtn.pre {
  left: -36px;
}
.scrollBtn.next {
  left: calc(100% + 5px);
}

@media screen and (min-width: 1025px) {
  .scrollBtn.on {
    display: flex;
    display: flex;
    align-items: center;
    position: absolute;
    top: calc((100% - 36px) / 2);
  }
}
.weatherIcon,
.overlapping,
.iconWrap,
.iconWrap svg {
  width: 100%;
  height: 100%;
}

.weatherIcon {
  position: relative;
}
.weatherIcon svg {
  fill: inherit;
}

.overlapping {
  display: flex;
  position: relative;
}
.overlapping .behind {
  width: 80%;
  height: 80%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.overlapping .behind .iconWrap svg {
  width: 100%;
  height: 100%;
}
.overlapping .front {
  width: 60%;
  height: 60%;
  z-index: 3;
  position: absolute;
  top: 30%;
  left: 40%;
}
.overlapping .front .iconWrap svg {
  width: 100%;
  height: 100%;
}

.iconWrap {
  position: absolute;
  top: 0;
  left: 0;
}

.sunnyNightIcon {
  width: 80%;
  transform: rotateY(180deg);
}

.sun {
  margin-top: 32px;
}
.sun .inner {
  background-color: #fab411;
  padding: 15px 24px 30px;
  position: relative;
}
.sun .title {
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.196);
  font-size: 17px;
  line-height: 23px;
  margin: 0;
  font-weight: bold;
  padding-bottom: 36px;
}
.sun .btn_wrap {
  position: absolute;
  top: 15px;
  right: 20px;
}
.sun .btn_sun {
  width: 42px;
  height: 32px;
  background-color: white;
  border: none;
}
.sun .btn_sun:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sun .btn_sun:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sun .btn_sun.on {
  background-color: #ed8b02;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 0 2px rgba(90, 90, 90, 0.196);
}
.sun span {
  display: inline-block;
}
.sun .icon_area {
  position: relative;
  width: 6rem;
  height: 3rem;
  overflow: hidden;
}
.sun .sunIcon_arrow {
  display: block;
  position: absolute;
  top: 0;
  left: calc((100% - 1rem) / 2);
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  color: rgb(250, 240, 182);
}
.sun .sunIcon_arrow .up {
  -webkit-animation: moveArrow 2s ease-in infinite;
          animation: moveArrow 2s ease-in infinite;
}
.sun .sunIcon_arrow .down {
  animation: moveArrow 2s ease-out infinite reverse;
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0px);
  }
}
.sun .sunIcon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  border-radius: 50%;
  background-color: rgb(250, 240, 182);
  box-shadow: 0px -2px 8px 2px rgb(253, 228, 148);
}
.sun .sun_chart {
  position: relative;
  width: 264px;
  height: 136px;
  margin: 0 auto;
  transform-origin: 50% 100%;
}
.sun .move_sun {
  position: absolute;
  width: 264px;
  height: 264px;
  z-index: 10;
}
.sun .move_sun::after {
  width: 36px;
  height: 36px;
  content: "";
  position: absolute;
  top: 51%;
  left: -15px;
  border-radius: 50%;
  background-color: rgb(250, 240, 182);
  box-shadow: 0px -2px 8px 2px rgb(253, 228, 148);
}
.sun .progress_bar {
  width: inherit;
  height: inherit;
}
.sun .progress_bar::before, .sun .progress_bar::after {
  position: absolute;
  bottom: 0px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  content: "";
  z-index: 5;
}
.sun .progress_bar::before {
  left: 0;
  background-color: rgb(246, 230, 142);
}
.sun .progress_bar::after {
  background-color: #f1a10b;
  right: 0;
}
.sun .current_bar {
  width: 264px;
  height: inherit;
  position: absolute;
  overflow: hidden;
}
.sun .current_bar .bar {
  width: 264px;
  height: 264px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 7px solid #f1a10b;
  border-bottom: 7px solid rgb(246, 230, 142);
  border-right: 7px solid rgb(246, 230, 142);
  box-sizing: border-box;
}
.sun .sun_info {
  position: absolute;
  bottom: 0;
  left: 16px;
  width: calc(100% - 14px - 18px);
  height: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sun .sun_info .icon_area {
  display: block;
}
.sun .time_list {
  display: inline-block;
  line-height: 24px;
  margin-top: 10px;
  color: white;
  text-shadow: 0 0 2px rgba(87, 87, 87, 0.196);
}
.sun .time_title, .sun .time_sun {
  display: inline-block;
}
.sun .time_title {
  font-size: 1rem;
  margin-right: 5px;
}
.sun .time_title.set {
  margin-left: 18px;
}
.sun .time_sun {
  font-size: 18px;
  font-weight: 600;
}
.sun .sun_table, .sun thead, .sun tbody, .sun tr {
  width: 100%;
}
.sun .sun_table {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 0 2px rgba(87, 87, 87, 0.196);
}
.sun .sun_table tr {
  position: relative;
}
.sun .sun_table th, .sun .sun_table td {
  width: 33%;
}
.sun .sun_table td {
  text-align: center;
}
.sun .sun_table thead .blind {
  display: inline-block;
  position: absolute;
  top: -100%;
  left: -100%;
}
.sun .sun_table .sun_tr {
  line-height: 20px;
  position: relative;
}
.sun .sun_table .sun_tr::after {
  width: 100%;
  height: 0.5px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.61);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
.sun .sun_table .sun_th, .sun .sun_table .sun_tr td {
  padding: 10px 0 17px 0;
}
.sun .sun_table .sun_th {
  font-weight: initial;
}
.sun .sun_table .sun_day, .sun .sun_table strong {
  margin-left: 5px;
}

@media screen and (min-width: 1025px) {
  .sun {
    margin-top: 40px;
  }
  .sun .inner {
    border-radius: 10px;
    padding: 15px 5%;
    box-sizing: border-box;
  }
}
.week {
  width: 100%;
}
.week .box {
  display: none;
}
.week .scrollArea {
  position: relative;
  touch-action: pan-y pinch-zoom;
  overflow: visible;
  height: auto;
  border: solid 1px #cfd4d6;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);
}
.week .item {
  border-bottom: solid 1px #cfd4d6;
  padding: 5px 24px;
}
.week .day_data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.week .cell_date .day {
  font-size: 14px;
}
.week .cell_date .date {
  font-size: 12px;
}
.week .cell_weather, .week .cell_weather .weather_inner {
  display: flex;
}
.week .weather_inner {
  margin-right: 8px;
}
.week .weather_inner .pm {
  flex-direction: row-reverse;
}
.week .cell_weather .inner_text {
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-right: 8px;
  color: #8f8f8f;
}
.week .cell_weather .timeslot {
  font-weight: 400;
}
.week .cell_weather .rainfall {
  color: #3172e7;
}
.week .cell_weather .rainfall.none {
  color: inherit;
}
.week .cell_weather .skyIcon, .week .cell_weather svg {
  width: 34px;
  height: 34px;
}
.week .lowest, .week .highest, .week .bar {
  font-weight: 600;
}
.week .lowest {
  color: #3172e7;
}
.week .highest {
  color: #cd3534;
}
.week .bar {
  color: #8f8f8f;
}

@media screen and (min-width: 768px) {
  .week .box {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 14px;
  }
  .week .box .item {
    width: 48%;
    box-sizing: border-box;
    border: solid 1px #cfd4d6;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08);
    padding: 10px 30px;
  }
  .week .scrollArea {
    overflow: hidden;
    height: auto;
    width: 100%;
    border: initial;
    border-radius: initial;
    box-shadow: none;
    display: flex;
  }
  .week .scrollArea .item {
    width: 14.2857142857%;
    height: auto;
    border-right: 1px solid rgba(221, 226, 228, 0.5882352941);
    border-bottom: none;
  }
  .week .scrollArea .day0, .week .scrollArea .day1 {
    display: none;
  }
  .week .scrollArea .day_data {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }
  .week .scrollArea .cell_date,
.week .scrollArea .cell_weather,
.week .scrollArea .cell_temperature {
    width: 100%;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .week .scrollArea .cell_weather .weather_inner {
    flex-direction: column-reverse;
    margin-right: 0;
  }
  .week .scrollArea .cell_weather .timeslot {
    display: none;
  }
  .week .scrollArea .cell_weather .inner_text {
    margin: 0;
  }
  .week .scrollArea .cell_temperature strong {
    display: flex;
    justify-content: space-between;
  }
  .week .scrollArea .cell_temperature span {
    width: 34px;
  }
  .week .scrollArea .cell_temperature .bar {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .week .box, .week .scrollControl {
    width: calc(100% - 50px);
  }
}
body {
  margin: 0;
  color: #424242;
  width: 100vw;
  overflow-x: hidden;
}

#topbar {
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
}
#topbar .inner {
  display: flex;
  align-items: center;
}
#topbar .logo {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-right: 14px;
}
#topbar::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
}

#container, #content, .section_wrap {
  width: 100%;
}

#container {
  display: flex;
  justify-content: center;
}

.section_wrap {
  margin-top: 1rem;
}

.blind {
  display: inline-block;
  position: absolute;
  top: -100vh;
  left: -100vw;
}

ul, dl, dd {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.week {
  padding: 20px 30px;
  box-sizing: border-box;
}

.week .title, .nation .title {
  width: 100%;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: initial;
}

#footer {
  margin: 2rem 0;
  text-align: center;
  font-size: 14px;
  color: #808080;
}
#footer span, #footer a {
  margin-left: 10px;
}
#footer a {
  color: inherit;
}

@media screen and (min-width: 780px) {
  .hourly, .week {
    padding: 30px 65px;
  }
}
@media screen and (min-width: 1025px) {
  #container {
    border-bottom: 1px solid rgba(227, 227, 227, 0.9764705882);
  }
  #topbar .inner, #content {
    width: 1000px;
  }
  .section_wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  .section_center {
    width: 70%;
    border-right: 1px solid #d8d8d8;
  }
  .hourly, .nation {
    padding: 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(227, 227, 227, 0.9764705882);
    width: 100%;
  }
  .section_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .week {
    padding: 0;
  }
  .nation, .sun {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nation .inner, .sun .inner {
    width: 90%;
  }
}
@media screen and (min-width: 1160px) {
  #topbar .inner, #content {
    width: 1160px;
  }
  #topbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nation .inner, .sun .inner {
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */